{% extends "hello/header.html" %}
{% block title %}
    {{ block.super }} - 書籍一覧 -
{% endblock %}
{% block contents %}
    {# 送られてきたコンテキストを表示する #}
    <table class="book_list">
        {% for book in books %}
        <tr>
            <td>{{ book.title }}</td>
            <th>{{ book.publisher }}</th>
            <th>{{ book.description|truncatechars_html:30 }}</th>
        </tr>
        {% endfor %}
    </table>

    <a href="{% url 'logout' %}">ログアウト</a>
    {% include "hello/fooder.html" %}
{% endblock %}

