{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <title>Document</title>
</head>
<body>
    <h1>ログインページ</h1>
  
<form action="{% url 'login' %}" method="post">
    {% csrf_token %}

    {% for field in form %}
    <div>
       {{ field }}

       {% if field.errors %}
       {% for error in field.errors %}
       <div class="field-error">{{ error }}</div>
       {% endfor %}
       {% endif %}
    </div>
    {% endfor %}

    <button type="sudmit">ログイン</button>

</form>
     
</body>
</html>